header{
    border-radius: 1px solid;
}

.reddit-icon-svg{
    height: 50px;
    padding: 8px 8px 8px 0px;
    width: 50px;
}

.reddit-text{
    font-weight: 700;
    height: 50px;
    width: 50px;
}

.logo{
    text-decoration: none;
}

.login, .signup{
    background-color: transparent;
    border-color: #0079d3;
    color: #0079d3;
    fill: #0079d3;
    border: 1px solid;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    letter-spacing: .5px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    opacity: 1;
    padding: 3px 16px;
}

.signup{
    border-color: #0079d3;
    background-color: #0079d3;
    color: aliceblue;
}

.signup:hover{
    opacity: 0.6;
}